extends ../layout

block content
  .container
    .col-lg-12.mt-5
      .col-lg-6.mx-auto
        form(action="/signup",method="POST").text-center.border.border-light.p-5.rounded.bg-grey
            p.h2.mb-4 Kayıt Ol
            input(type="text",name="username",placeholder="Kullanıcı Adı*",required=true).form-control.mb-4
            if (errors && errors.username)
                        p.small.text-danger #{errors.username}
            input(type="text",name="firstname",placeholder="İsim*",required=true).form-control.mb-4
            input(type="text",name="lastname",placeholder="Soyisim*",required=true).form-control.mb-4
            input(type="password",name="password",placeholder="Parola*",required=true).form-control.mb-4
            if (errors && errors.password)
                        p.small.text-danger #{errors.password}
            input(type="stk",name="stk",placeholder="Kayıtlı STK*",required=true).form-control.mb-4
            input(type="number",name="phone",placeholder="Telefon*",required=true).form-control.mb-4
            input(type="email",name="email",placeholder="E-mail*",required=true).form-control.mb-4
            if (errors && errors.email)
                        p.small.text-danger #{errors.email}
            button(type="submit").btn.btn-info.btn-block.mt-3 Kayıt Ol
