extends layout

block content
  include common/navbar.pug
  +navbar(user)
  .container
    div.bg-blue
      if supports
        table.table.mt-5
          thead.thead-dark
            tr
              th(scope="col") #
              th(scope="col") Name
              th(scope="col") Surname
              th(scope="col") Support Type
              th(scope="col") Amount
              th(scope="col") Approver Name
              th(scope="col") Approver NGO
              th(scope="col") Status
              th(scope="col") Phone
              th(scope="col") Address
              th(scope="col")
          tbody
            for support in supports
              tr(id=support.id)
                th(scope="row") #{support.id}
                td #{support.name}
                td #{support.surname}
                td #{support.supportType}
                td #{support.amount}
                td #{support.confirmName} #{support.confirmSurname}
                td #{support.confirmSTK}
                td #{support.status}
                td #{support.phone}
                td #{support.address}
                td
                  a(href="/confirmed_support/" + support.id + "/edit").mybtn-edit Edit
  script(src='/js/myscripts.js')
  

