extends layout

block content
  include common/navbar.pug
  +navbar(user)
  .container
    if success
      h4.bg-success.p-3.c-white.mt-3 #{success}
    .row
      .col-lg-12.mt-3.mx-auto
        form(action="/confirmSupport",method="POST").text-center.border.border-light.p-5.rounded.bg-blue
            p.h1.mb-4 Destek Formu
            .row
                .col-lg-6.mt-3
                    p.m-0.p-0 İsim
                    input(type="text",name="name",placeholder="İsim*",required=true,value=support.name,readonly).form-control.mb-4
                    input(type="text",name="id",placeholder="",required=true,value=support.id,readonly).form-control.mb-4.d-none
                    p.m-0.p-0 Soyisim
                    input(type="text",name="surname",placeholder="Soyisim*",required=true,value=support.surname,readonly).form-control.mb-4
                    p.m-0.p-0 İhtiyaç Tipi
                    input(type="text",name="supportType",placeholder="İhtiyaç Tipi*",required=true,value=support.supportType,readonly).form-control.mb-4
                    p.m-0.p-0 Miktar
                    input(type="number",name="amount",placeholder="",required=true,value=support.amount,readonly).form-control.mb-4
                    p.m-0.p-0 Gönderim Şekli
                    input(type="text",name="sendType",placeholder="",required=true,value=support.sendType,readonly).form-control.mb-4
                .col-lg-6.mt-3
                    p.m-0.p-0 Telefon
                    input(type="number",name="phone",placeholder="",required=true,value=support.phone,readonly).form-control.mb-4
                    p.m-0.p-0 Adres
                    input(type="text",name="address",placeholder="Adres*",required=true,value=support.address,readonly).form-control.mb-4
                    p.m-0.p-0 Onaylayan Ad Soyad
                    input(type="text",name="NameSurname",placeholder="",required=true,value=user.firstname + " " + user.lastname,readonly).form-control.mb-4
                    input(type="text",name="confirmName",placeholder="",required=true,value=user.firstname,readonly).form-control.mb-4.d-none
                    input(type="text",name="confirmSurname",placeholder="",required=true,value=user.lastname,readonly).form-control.mb-4.d-none
                    p.m-0.p-0 Onaylayan STK
                    input(type="text",name="confirmSTK",placeholder="",required=true,value=user.stk,readonly).form-control.mb-4
                    p.m-0.p-0 Durum*
                    select(name="status",required=true).browser-default.custom-select.mb-4
                        option(selected).d-none
                        option(value="Onaylandı") Onaylandı
                        option(value="Beklemede") Beklemede
                        option(value="Kullanımda") Kullanıldı
            button(type="submit").btn.btn-success.btn-block.mt-3.w-50.mx-auto Onayla
            a(href="/support/" + support.id +"/delete").btn.btn-danger.btn-block.mt-3.w-50.mx-auto Sil
  script(src='/js/myscripts.js')    