extends layout

block content
  include common/navbar.pug
  +navbar(user)
  .container
    if success
      h4.bg-success.p-3.c-white.mt-3 #{success}
    .row
      .col-lg-12.mt-3.mx-auto
        form(action="/confirmNeed",method="POST").text-center.border.border-light.p-5.rounded.bg-blue
            p.h1.mb-4 Need Form
            .row
                .col-lg-6.mt-3
                    p.m-0.p-0 Name
                    input(type="text",name="name",placeholder="Name*",required=true,value=need.name,readonly).form-control.mb-4
                    input(type="text",name="id",placeholder="",required=true,value=need.id,readonly).form-control.mb-4.d-none
                    p.m-0.p-0 Surname
                    input(type="text",name="surname",placeholder="Surname*",required=true,value=need.surname,readonly).form-control.mb-4
                    p.m-0.p-0 Need Type
                    input(type="text",name="needType",placeholder="Need Type*",required=true,value=need.needType,readonly).form-control.mb-4
                    p.m-0.p-0 Amount
                    input(type="number",name="amount",placeholder="Amount*",required=true,value=need.amount,readonly).form-control.mb-4
                    p.m-0.p-0 Phone
                    input(type="number",name="phone",placeholder="Phone*",required=true,value=need.phone,readonly).form-control.mb-4
                    
                .col-lg-6.mt-3
                    p.m-0.p-0 Address
                    input(type="text",name="address",placeholder="Address*",required=true,value=need.address,readonly).form-control.mb-4
                    p.m-0.p-0 Approver Name Surname
                    input(type="text",name="NameSurname",placeholder="",required=true,value=user.firstname + " " + user.lastname,readonly).form-control.mb-4
                    input(type="text",name="confirmName",placeholder="",required=true,value=user.firstname,readonly).form-control.mb-4.d-none
                    input(type="text",name="confirmSurname",placeholder="",required=true,value=user.lastname,readonly).form-control.mb-4.d-none
                    p.m-0.p-0 Approver NGO
                    input(type="text",name="confirmSTK",placeholder="",required=true,value=user.stk,readonly).form-control.mb-4
                    p.m-0.p-0 Urgency Status*
                    select(name="urgency",required=true).browser-default.custom-select.mb-4
                        option(selected).d-none 
                        option(value="High") High
                        option(value="Normal") Normal
                        option(value="Low") Low
                    p.m-0.p-0 Status*
                    select(name="status",required=true).browser-default.custom-select.mb-4
                        option(selected).d-none
                        option(value="Approved") Approved
                        option(value="Transportation Stage") Transportation Stage
                        option(value="In Use") In Use
            button(type="submit").btn.btn-success.btn-block.mt-3.w-50.mx-auto Approve
            a(href="/need/" + need.id +"/delete").btn.btn-danger.btn-block.mt-3.w-50.mx-auto Delete
  script(src='/js/myscripts.js')  