extends layout

block content
  include common/navbar.pug
  +navbar(user)
  .container.text-center
    h1.mt-5 Needs
    div.bg-blue
      if needs
        table.table.mt-5
          thead.thead-dark
            tr
              th(scope="col") #
              th(scope="col") Name
              th(scope="col") Surname
              th(scope="col") Need Type
              th(scope="col") Amount
              th(scope="col") Phone
              th(scope="col") Address
              th(scope="col")
              th(scope="col")
          tbody
            for need in needs
              tr(id=need.id)
                th(scope="row") #{need.id}
                td #{need.name}
                td #{need.surname}
                td #{need.needType}
                td #{need.amount}
                td #{need.phone}
                td #{need.address}
                td
                  a(href="/need/" + need.id + "/edit").mybtn-edit Edit
                td
                  a(onclick=`deleteNeed('${need.id}')`).mybtn-danger Delete
  script(src='/js/myscripts.js')
  

