extends layout

block content
    include common/navbar.pug
    +navbar(user)
    .container
        div.bg-blue
            if supports
                table.table.mt-5
                    thead.thead-dark
                        tr
                            th(scope="col") #
                            th(scope="col") İsim
                            th(scope="col") Soyisim
                            th(scope="col") Destek Tipi
                            th(scope="col") Miktar
                            th(scope="col") Gönderim Şekli
                            th(scope="col") Telefon
                            th(scope="col") Adres
                            th(scope="col")
                            th(scope="col")
                    tbody
                        for support in supports
                            tr(id=support.id)
                                th(scope="row") #{support.id}
                                td #{support.name}
                                td #{support.surname}
                                td #{support.supportType}
                                td #{support.amount}
                                td #{support.sendType}
                                td #{support.phone}
                                td #{support.address}
                                td
                                    a(href="/support/" + support.id + "/edit/").mybtn-edit Edit
                                td
                                    a(onclick=`deleteSupport('${support.id}')`).mybtn-danger Sil
    script(src='/js/myscripts.js')
  

