extends layout

block content
  include common/navbar.pug
  +navbar(user)
  .container.text-center
    div.bg-dblue.rounded
      h1.mt-5.c-white.p-3 Approved Requests
    div.bg-blue.p-2.mt-2.rounded.border
      if needs
        table.table
          thead.thead-dark
            tr
              th(scope="col") #
              th(scope="col") Name
              th(scope="col") Surname
              th(scope="col") Need Type
              th(scope="col") Amount
              th(scope="col") Approver Name
              th(scope="col") Approver NGO
              th(scope="col") Urgency
              th(scope="col") Status
              th(scope="col") Phone
              th(scope="col") Address
              th(scope="col")
          tbody
            for need in needs
              tr(id=need.id)
                th(scope="row") #{need.id}
                td #{need.name}
                td #{need.surname}
                td #{need.needType}
                td #{need.amount}
                td #{need.confirmName} #{need.confirmSurname}
                td #{need.confirmSTK}
                td #{need.urgency}
                td #{need.status}
                td #{need.phone}
                td #{need.address}
                td
                  a(href="/confirmed_need/" + need.id + "/edit").mybtn-edit Edit
  script(src='/js/myscripts.js')
  

