extends layout

block content
  include common/navbar.pug
  +navbar(user)
  .container
    if success
      h4.bg-success.p-3.c-white.mt-3 #{success}
    .row.mx-auto
      .col-lg-6.mt-3
        form(action="/submitNeed",method="POST").text-center.border.border-light.p-5.rounded.bg-blue
            img(src="/images/hand2.png" ).mb-4
            p.h1.mb-4 Need Form
            input(type="text",name="name",placeholder="Name*",required=true).form-control.mb-4
            input(type="text",name="surname",placeholder="Surname*",required=true).form-control.mb-4
            select(name="needType").browser-default.custom-select.mb-4
              option(selected).d-none Need Type*
              option(value="Financial Support") Financial Support
              option(value="Transportation") Transportation
              option(value="Goods") Goods
              option(value="Accommodation") Accommodation
            input(type="number",name="amount",placeholder="Amount*",required=true).form-control.mb-4
            select(name="urgency",required=true).browser-default.custom-select.mb-4
              option(selected).d-none Urgency*
              option(value="High") High
              option(value="Normal") Normal
              option(value="Low") Low
            input(type="text",name="expUr",placeholder="Brief Explanation for Urgency*",required=true).form-control.mb-4
            input(type="number",name="phone",placeholder="Phone*",required=true).form-control.mb-4
            input(type="text",name="address",placeholder="Address*",required=true).form-control.mb-4
            button(type="submit").btn.bg-dblue.btn-block.mt-3.c-white Send
      .col-lg-6.mt-3
        form(action="/submitSupport",method="POST").text-center.border.border-light.p-5.rounded.bg-blue
            img(src="/images/amb2.png" ).mb-4
            p.h1.mb-4 Support Form
            input(type="text",name="name",placeholder="Name*",required=true).form-control.mb-4
            input(type="text",name="surname",placeholder="Surname*",required=true).form-control.mb-4
            input(type="text",name="address",placeholder="Address*",required=true).form-control.mb-4
            select(name="supportType").browser-default.custom-select.mb-4
              option(selected).d-none Support Type*
              option(value="Financial Support") Financial Support
              option(value="Transportation") Transportation
              option(value="Goods") Goods
              option(value="Accommodation") Accommodation
            input(type="number",name="amount",placeholder="Amount*",required=true).form-control.mb-4
            input(type="number",name="phone",placeholder="Phone*",required=true).form-control.mb-4
            input(type="text",name="sendType",placeholder="Send Type*",required=true).form-control.mb-4
            input(type="text").form-control.mb-4.vis-hid
            button(type="submit").btn.bg-dblue.btn-block.mt-3.c-white Send
  

